doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    title= 'Express MVC Boilerplate'
    link(rel='stylesheet' href='/assets/styles.css')

  body
    block content

    //- React components bundled
    script(src='/assets/content.js')
